        .box {
    background-color: white;
    max-width: 600px;
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    body {
        background: url(pics/bg-body.gif);
        font-family: 'Oswald', sans-serif;
    }
    .box {
        background-color: white;
        max-width: 600px;
        width: 90%;
        margin: 40px auto;
    }
    .box .box-content {
        color: white;
        padding: 20px;
    }
    .box .header-image {
        background: url(pics/image1.jpg) top center;
        height: 200px;
    }
    .box .box-content p {
        color: #381f1f
    }
    .box .box-content h2 {
        color: #07c3f7
    }
    .box .box-content .details {
        margin: 16px 0 0 0;
    }
    .box .box-content .details a {
        background: #feb123;
        color: black;
        padding: 5p 10px;
        display: inline-block;
        text-decoration: none;
    }
    .box.box-2 .header-image {
        background: url(pics/image2.jpg)