@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: url(Kedvenc/Pics/anime-body.gif);
    margin: 0;
    font-family:'Lato', sans-serif;
}

.box {
    background-color: white;
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
}

.box .header-image {
    background: url(Kedvenc/Pics/one_piece1.jpg);
    height: 200px;
}

.box .box-content {
    color: white;
    padding: 20px;
}

.box .box-content p {
    color: #535353
}

.box .box-content h2 {
    color: #32859d;
}

.box .box-content .details {
    margin: 16px 0 0 0;
}

.box .box-content .details a {
    background: #feb127;
    color: black;
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
}

.box.box-1 .header-image {
    background: url(Kedvenc/Pics/bleach2.jpg)
}