@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: url('../pics/bg-body.jpg') no-repeat;
    background-size: cover
}

* {
    box-sizing: border-box
}

.wrapper {
    max-width: 800px;
    margin: 80px auto;
}

header {
    background: url('../pics/bg-header.jpg') no-repeat;
    height: 360px;
    position: relative;
}

nav {
    background: rgba(190,0,0,.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

nav::after {
    content: "";
    clear: both;
    display: table;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

nav a:hover {
    background: rgba(0, 0, 0, .8);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

main {
    background: white;
    padding: 40px;
}

main p {
    line-height: 1.5;
}

main h1 {
    margin-top: 0;
}

nav>ul>li {
    float: left;
}

nav .submenu {
    position: relative;
}

nav .has-submenu {
    position: absolute;
}