@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');;
*{
    box-sizing: border-box;
}
body{
    background: url(sajatkep/bg.gif) ;
    font-family: 'RocknRoll One', sans-serif;;
}

.box{
    background-color: rgba(0, 0, 0, 0.349);
    max-width: 2000px;
    width: 90%;
    margin: 70px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.box .box-content {
    color: rgba(0, 0, 0, 0.787); 
    padding: 20px;
    width: 1160px;
	height: 800px;
    text-align:center;
}

.box .header-image{
    background: url(sajatkep/code.jpg) top center;
    height: 300px;
}

.box .box-content p{
    color: #474747bb;
    
}

.box .box-content h2{
    color:#020202

}

.box .box-content .details {
    margin: 16px 0 0 0;
}

.box .box-content .details a{
    background:#000000 ;
    color: rgb(255, 255, 255) ;
    padding: 15px 500px;
    display: inline-block;
    text-decoration: none;
    font-size: x-large;

}



