@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background: fixed url('bg-body.gif') top center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font: 12px/30px
}