@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: fixed url('bg-body.gif') top center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font: 12px/30px;

}

div {
    width: 80%;
    padding: 30px 0 30px 0;
    border: 10px dashed red;
    border-left: 20px solid green;
    border-right: 20px solid gray;
    margin: 20px auto 20px auto;
}