@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: url(pics/bg-body.gif);
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.box-content {
    color: white;
}

.header-image {
    background: url(pics/image1.jpg);
    height: 200px
}
.box{
    background-color: white;
    max-width: 600px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

.box .box-content p{
    color: #535353;
}

.box .box-content h2{
    color: #7cc576;
}

.box-content {
    padding: 20px;
}
.box .box-content .details {
    margin: 16px 0 0 0;
}
.box .box-content .details a {
    background: #feb127;
    color: black;
    padding: 5px 10px;
    display: inline;
    text-decoration: none;
}
.header-image1 {
    background: url(pics/image2.jpg);
    height: 200px
}