@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');;
*{
    box-sizing: border-box;
}
body{
    background: url(sajatkep/bg.gif) ;
    font-family: 'RocknRoll One', sans-serif;;
}

.box{
    background-color: rgba(0, 0, 0, 0.349);
    max-width: 2000px;
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.box .box-content {
    color: rgba(0, 0, 0, 0.787); 
    padding: 20px;
    width: 1160px;
	height: 800px;
    text-align:center;
}

.box .header-image{
    background: url(sajatkep/code.jpg) top center;
    height: 300px;
}

.box .box-content p{
    color: #474747bb;
    
}

.box .box-content h2{
    color:#020202

}

.box .box-content .details {
    margin: 10px 0 0 0;
}

.box .box-content .details a{
    background:#000000 ;
    color: rgb(255, 255, 255) ;
    padding: 15px 500px;
    display: inline-block;
    text-decoration: none;
    font-size: x-large;

}


nav {
    background: rgba(190, 0, 0, 3);
    background: rgba(0, 0, 0, 0.548);
    position: center;
    bottom: 1;
    left: 0;
    right: 0;
    padding: 15px 550px;
    display: inline-block;
    text-decoration: none;
}


nav a {
    color: white;
    text-decoration: none;
    display:inline-block;
    padding: 10px;
}

nav a:hover {
    background: rgba(0, 0, 0, .8);
}

nav ul {
    list-style: none;
    padding: 5;
    margin: 0;
}

nav ul li {
    float: left;
}

main {
    background: white;
    padding: 10px;
}

.cookie-accept {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.527);
    color: white;
    text-align: center;
    padding: 20px;
    
      
}

.cookie-accept button {
    background: rgb(131, 131, 131);
    color: rgb(0, 0, 0);
    border: 0;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    
}

.cookie-accept button:hover {
    background: rgb(168, 168, 168);
    color: white;
    
}










